.parallax {
    height: 100vh;
    opacity: 0.9;
    /* display: flex; */
    width: 100%;
    position: relative;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'avenir';
    text-transform: uppercase;
}
.parallax-container {
    height: 100vh;
    /* width: 100%; */
    display: flex;
    /* position: relative; */
}
#slide-out {
    z-index: 100000;
}
img {
    height: 300px;
}
.color {
    background-color: #5D737E;
    color: white;
}
.card-content {
    text-align: center;
}
.card-title {
    text-align: center;
    margin-top: 20px;
}
.languageIcon {
    font-size: 80px;
    margin: 15px;
    margin-right: 100px;
    justify-content: center;
}
.title {
    height: 30vh;
}
.menuPic {
    height: 200px; 
    width: 300px;
}
section {
    opacity: 0;
    transition: opacity 1s;
}

section.visible { 
    opacity: 1;
}
#name-header {
    position: absolute;
    text-align: center;
    margin: auto;
}

.headerText1 {
    z-index: 1000;
    color: white;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'avenir', medium;
    /* text-shadow: 0 2px 5px #000; */
    font-size: 5vw, 5vh;
    overflow: hidden;
}
.headerText2 {
    /* z-index: 1000; */
    color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'avenir';
    /* text-shadow: 0 2px 5px #000; */
    font-size: 3vw, 3vh;
    overflow: hidden;
}
.content:before {
    position: absolute;
    content: '';
    width: 60%;
    height: 125px;
    top: -50px;
    left: 0;
    background: #fff;
    transform: skewY(10deg);
}
.linkDemo {
    position: absolute;
    margin: auto;
    left: 33%;
    bottom: 2%;
}
.email {
    width: 80%;
    margin: auto;
}
.row {
    margin-bottom: 0;
}
.mainImg {
    height: 100vh;
    color: black;
    font-weight: bolder;
    position: relative;
    margin-bottom: 150px;
}
.carousel-item img {
    width: 600px;
    height: 200px;
}
.page-footer {
    background-color: #BFDBF7;
    bottom: 0;
    width: 100vw;
    overflow: auto;
    margin-top: 70px;
}
.menu {
    position: absolute;
    background: transparent;
    z-index: 5000;
    color: white;
}
.projectTitle {
    margin-top: 100px;
    text-align: center;
}
.row {
    margin: 40px;
}
.menuAbout {
    z-index: 5000;
    color: black;
}
.email {
    margin-top: 60px;
}
.name {
    margin-top: 60px;
}
p {
    margin: 0;
}
.user-view {
    height: 200px;
}

.container {
    margin: auto;
    text-align: center;
}
.hero-header {
    margin: auto;
    margin-top: 15%;
    text-align: center;
    width: 55vw;
}
body, .carousel {
    overflow: auto;
}
.header {
    text-align: center;
    color: white;
    position: relative;
}
.logoLink {
    width: 50px;
    height: 50px;
    margin: auto;
    color: white;
}
.logoSet {
    text-align: center;
}
.clouds-image {
    height: 30vh;
}
.aboutMe {
    font-size: 18px;
    font-family: 'avenir';
    margin-bottom: 50px;
}
@media only screen and (max-width: 460px) {
    .mainImg {
        height: 100vh;
        width: 100vw;
    }
    .header {
        text-shadow: black 2px 2px;
        margin-top: 100px;
        z-index: 10000;
        color: White;
    }
    h1 {
        font-size: 36px;
        color: black;
    }
    h4 {
        font-size: 24px;
    }
    img.activator {
        height: 200px;
        color: white;
    } */
    div {
        background-color: #5D737E;
        color: #5D737E;
    }
    .card-content {
        padding: 0;

    }
    .card {
        margin: 2rem 0 1rem 0;
    }
    .row .col {
        padding: 0;
        margin-top: 200px;
    }
    .projectTitle {
        margin-top: 20px;
    }
    .parallax-container {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
    .languageIcon {
        font-size: 30px;
        margin: 0;
    }
}